<h1>Add new Item</h1>

<form action="/api/add" method="POST" class="form-example">

    <label for="name">Name of item: </label>
    <input type="text" name="name" id="name" required />
    <button type = "submit">Add</button>


</form>

<form action="/">
    <button type = "submit">Back</button>
</form>